{
    "apiVersion": 3,
    "name": "{{namespace}}/{{slug}}",
    "title": "{{title}}",
    "category": "{{category}}",
    "description": "{{description}}",
    "supports": {
        "html": false
    },
    "textdomain": "{{textdomain}}",
    "editorScript": "file:./index.js",
    "editorStyle": "file:./editor.css",
    "style": "file:./style.css",
    "render": "file:./render.php"
} 